{% extends "base.html" %}
{% block title %}Artistas{% endblock title %}
{% block content %}
<p class="p-2">Album:</p>
<div class="card-group">
    {% for album in albums %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{artist.picture.url}}" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ album }}</h5>
                        <p class="card-text">Nombre: {{ album.title }}.</p>
                        <p class="card-text">Año: {{ album.release_year }}.</p>

                        <a href="artist/{{ artist.id }}" class="btn btn-primary">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        <a href="edit_artist/{{ artist.id }}" class="btn btn-primary">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a href="delete_artist/{{ artist.id }}" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}